.Home {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Home .SectionHeader {
  font-size: 1.3rem;
  font-weight: 500;
}

.Home .PageInfo .Title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  margin-top: 1rem;
}
.Home .PageInfo .Subtitle {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.Home .PageInfo .Title,
.Home .PageInfo .Subtitle {
  -webkit-filter: drop-shadow(0 3px 10px white);
  filter: drop-shadow(0 3px 10px white);
}

.Home .PageInfo .Body {
  background-color: rgba(255, 255, 255, 0.499);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.Home .PageInfo .Body ul {
  list-style-position: inside;
  padding-left: 0;
}

.Home .PageInfo .Body ul li {
  background-color: rgba(255, 255, 255, 0.482);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

.Home .tip {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-style: italic;
  color: grey;
}
