.NewRecipe {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  background-color: transparent;
}

.NewRecipePanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 0.5rem);
  padding: 0.25rem;
  max-width: 275px !important;

  /* border: 1px solid red; */
  background-color: rgba(255, 255, 255, 0.276);
}

.PanelDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: white;
  margin-bottom: 0.5rem;
}

.NewRecipe .SectionHeader {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.PanelDescription span {
  font-size: 0.9rem;
  width: calc(100% - 1rem);
}

.ItemSelectPanel {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;

  width: 100%;

  overflow-y: scroll !important;
}

/* .ItemSelectContainer > * {
  width: 100%;
} */

.NewRecipe .CategoryContainer {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.543);
}

.NewRecipe .CategoryContainer .CategoryName {
  font-weight: 500;
}

.ItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: calc(100% - 0.75rem);
  /* width: 100%; */
  gap: 0.25rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
}

.NewRecipe form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.NewRecipe .Quantities {
  width: 50%;
}

/*************** MIDDLE COLUMN: NewRecipeFormEntries.css ************/

/*************** Last Column, Optional Steps and Notes *************/

.NewRecipe .LastColumn {
  justify-content: space-between;
  width: 50%;
}

.NewRecipe .LastColumn .CompletionBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background-color: white;
}

.NewRecipe .CompletionBox .SectionHeader {
  width: 100%;
}

.NewRecipe .CompletionBox .nameInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 100%;
}
.NewRecipe .CompletionBox .servingsInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 100%;
}

.NewRecipe .LastColumn .CompletionBox button {
  width: 100%;
  border: 1px solid #f9b941;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  background-color: #f9b941;
}

.NewRecipe .LastColumn .CompletionBox button:hover {
  filter: brightness(1.2);
}

@media (max-width: 900px) {
}
