.NewRecipe {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "firstCol form";
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  background-color: transparent;
}

.PanelDescription {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: white;
  /* margin-bottom: 0.5rem; */
}

.NewRecipe .SectionHeader {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.PanelDescription span {
  font-size: 0.9rem;
  width: calc(100% - 1rem);
}

.ItemSelectPanel {
  grid-area: firstCol;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  overflow-y: scroll;
}

.NewRecipe .CategoryContainer {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.543);
}

.NewRecipe .CategoryContainer .CategoryName {
  font-weight: 500;
}

.ItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: calc(100% - 0.75rem);
  gap: 0.25rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
}

.NewRecipe form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "secondCol thirdCol";
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
}

/*************** MIDDLE COLUMN, entries in NewRecipeFormEntries.css ************/

.NewRecipe .QuantitiesPanel {
  grid-area: secondCol;
}

.NewRecipe .QuantitiesPanel .PanelDescription {
  width: calc(100% - 1rem) !important;
}

/*************** Last Column, Optional Steps and Notes *************/

.NewRecipe .LastPanel {
  grid-area: thirdCol;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.NewRecipe .LastPanel .CompletionBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background-color: white;
}

.NewRecipe .CompletionBox .SectionHeader {
  width: 100%;
}

.NewRecipe .CompletionBox .nameInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.25rem;
}
.NewRecipe .CompletionBox .servingsInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.25rem;
}

.NewRecipe .CompletionBox input {
  width: calc(70%);
  padding: 0.25rem;
  font-size: 0.9rem;
}

.NewRecipe .CompletionBox label {
  width: calc(30%);
}

.NewRecipe .LastPanel .CompletionBox button {
  width: 100%;
  border: 1px solid #f9b941;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  background-color: #f9b941;
}

.NewRecipe .LastPanel .CompletionBox button:hover {
  filter: brightness(1.2);
}

@media (max-width: 900px) {
  .NewRecipe {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: "firstCol" "form";
    height: min-content;
    width: 100%;
    gap: 1rem;
    background-color: transparent;
  }

  .Panel {
    background-color: rgba(255, 255, 255, 0.502);
    padding: 0.5rem;
  }

  .PanelDescription {
    position: relative;
    width: calc(100% - 2rem) !important;
    /* margin-bottom: 0.5rem; */
  }

  .NewRecipe .CategoryContainer {
    width: calc(100% - 2rem);
  }

  .NewRecipe form {
    grid-area: form;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: "secondCol" "thirdCol";
    justify-content: start;
    gap: 1rem;
    width: 100%;
  }

  .NewRecipe .LastPanel .CompletionBox {
    width: calc(100% - 2rem);
  }

  /* .NewRecipe form {} */
}
