.QuickForm {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 0.25rem;
  transform: translateX(0.2rem);
}

.QuickFormColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#QuickFormTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  padding: 0.15rem;
  color: white;
  min-height: 20%;
  min-width: 80px;
  width: calc(100% - 6px);
  background-color: rgb(249, 185, 65);
}

#QuickFormTitle div:first-child {
  font-weight: 800;
  font-size: 1.9vw;
  letter-spacing: 0px;
  text-transform: uppercase;
}
#QuickFormTitle div:last-child {
  font-weight: 700;
  font-size: 2.7vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.QuickForm p {
  padding-top: 0.5rem;
  font-size: 0.7rem !important;
  font-weight: 400;
  text-align: justify;
  /* color: red; */
}

.QuickForm p span {
  background-color: rgba(249, 185, 65, 0.237);
}

#second > *,
#third > * {
  height: 20%;
  width: 90%;
  background-color: #eee;

  /* background-color: none; */
}

.QuickForm label {
  font-size: 0.8rem;
  height: 40%;
  padding-left: 0.25rem;
}

.QuickForm select {
  width: calc(100% - 0px);

  height: 55%;
  border: 1px solid lightgrey;
  font-size: 0.8rem;
  padding-left: 0.25rem;
}

.QuickForm input {
  width: calc(100% - 6px);
  height: 55%;
  border: 1px solid lightgrey;
  font-size: 0.8rem;
  padding-left: 0.25rem;
}

.QuickForm input:hover,
.QuickForm select:hover {
  background-color: rgb(245, 245, 245);
}

.QuickForm button {
  border: 1px solid rgb(249, 185, 65);
  color: rgb(249, 185, 65);
  font-weight: 500;
  background-color: transparent !important;
}

.QuickForm button:hover {
  border: 1px solid rgb(249, 185, 65);
  color: white;
  font-weight: 500;
  background-color: rgba(249, 185, 65, 0.89) !important;
}
