.Recipes * {
  margin: 0;
  padding: 0;
}

.Recipes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.Recipes .sectionTitle {
  color: black;
  width: 100%;
  /* background-color: aqua; */
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*************************  .LEFTSIDE  *************************/
.Recipes .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  min-width: none;

  height: calc(100% - 2rem);
  background-color: transparent;
}

.Recipes .leftSide > div:first-child > .sectionTitle {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.25rem !important;
}

.Recipes .leftSide > div {
  /* height: 100%; */
  width: 100%;
  min-width: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.Recipes .PageInfo p {
  font-size: 0.8rem;
  padding-top: 0 !important;
  padding-bottom: 0.8rem !important;
}

.Recipes .leftSide > div > * {
  padding: 0.5rem;
}

/******************** .PAGEINFO *****************/

.Recipes .leftSide .PageInfo {
  height: min-content;
}

.Recipes .leftSide p {
  font-size: 0.9rem;
}

/******************** .QUICKADD *****************/

.Recipes .QuickAdd {
  height: min-content;
}

/******************** New Recipe Container ******/

.Recipes .leftSide .NewRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  height: min-content;
}

.NewRecipe .sectionTitle {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.NewRecipe p {
  /* background-color: red; */
  padding: 0 !important;
  margin: 0 !important;
}

.Recipes .leftSide .NewRecipe button {
  border: 1px solid rgb(255, 201, 101);
  background-color: rgb(255, 201, 101);
  width: calc(100% - 0rem);
  color: black;
}
.Recipes .leftSide .NewRecipe button:hover {
  filter: brightness(1.1);
}

/*************************  .RIGHTSIDE  *************************/

.Recipes .rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: white;
}

.Recipes .rightSide .sectionTitle {
  /* font-size: 1.6rem; */
  font-weight: 500;
  margin: 0.75rem 1rem;
  padding-left: 2rem;
}

/* For more styling, look in RecipeEntry.css */

@media (max-width: 900px) {
  .Recipes {
    height: auto;
    width: 100vw;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 1rem;
  }

  .Recipes .leftSide {
    height: calc(100% - 2rem);
    width: 100%;
    background-color: transparent;
    padding: 0;
  }

  .Recipes .sectionTitle {
    color: black;
    width: 100%;
    /* background-color: aqua; */
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* margin: 0.5rem; */
  }

  .Recipes .leftSide > div:first-child > .sectionTitle {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 0.25rem !important;
  }

  .Recipes .leftSide > div {
    /* height: 100%; */
    width: 100%;
    min-width: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: white;
  }
}
