.ItemSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: paleturquoise; */
  /* background-color: red !important; */
  /* width: 18rem;
  margin: 0.5rem;
  padding: 0rem;
  box-sizing: border-box;
  padding: 2rem;  */
}

.ItemSearch > * {
  flex: 1 1 300px;
  padding: 1.5rem;
  margin: 0.5rem;
}

.ItemSearch button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  /* background-color: rgb(255, 201, 101) !important; */
}

/**************** LEFT SIDE OF ItemSearch ************/

.searchContainer {
  height: 250px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
}

.searchContainer form {
  width: 100%;
}

.searchContainer form button {
  width: 100%;
  background-color: rgb(255, 201, 101);
}

.searchContainer form button:hover {
  filter: brightness(1.1);
}

.searchContainer #newEmptyItemButton {
  background-color: transparent;
  border: none;
  color: grey;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

/**************** RIGHT SIDE OF ItemSearch ************/

.confirmationContainer {
  height: 250px;
  margin-right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
}

.confirmationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: lightgray; */
  width: 100%;
}

.confirmationField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 260px;
  margin: 0.15rem 0rem;
}

.confirmationField input,
.confirmationField select {
  width: 50%;
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(244, 244, 244);
}

.confirmationField select {
  width: calc(50% + 5px);
  /* -webkit-appearance: none; */
}

.confirmationField input:hover,
.confirmationField select:hover {
  border: 1px solid rgb(245, 217, 213);
  background-color: rgb(245, 225, 213);
  color: rgb(108, 57, 2);
}

.confirmationForm .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: calc(100% - 0rem);
  height: min-content;
}

.confirmationForm button {
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(220, 220, 220) !important;
}

.confirmationForm button:hover {
  filter: brightness(1.1);
}
/********************************************/

.ItemSearch button:hover {
  filter: brightness(1.1);
}

.ItemSearch h1 {
  /* width: 100%; */
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: none;
  padding: none;
  line-height: 0.5;
}

@media (max-width: 900px) {
  .ItemSearch {
    flex-direction: column;
    gap: none;
    height: 240px;
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 0;
    /* background-color: white; */
  }

  .ItemSearch .searchContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(234, 233, 233); */
    flex: none;
  }

  .ItemSearch .searchContainer .title {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .ItemSearch .searchContainer form {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 1.5rem; */
    /* margin: 0.5rem; */
  }

  .ItemSearch .searchContainer .Field {
    width: calc(70%);
    margin: 1rem 0rem;
  }

  .searchContainer button {
    width: calc(80%) !important;
  }

  .ItemSearch .confirmationContainer {
    flex: none;
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }

  .ItemSearch .confirmationContainer h1 {
    display: none;
  }

  .ItemSearch .confirmationContainer .confirmationForm {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .confirmationField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    min-width: unset;
    margin: 0.15rem 0rem;
  }

  .confirmationField input,
  .confirmationField select {
    width: 35%;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(244, 244, 244);
  }

  .confirmationField select {
    width: calc(35% + 5px);
    /* -webkit-appearance: none; */
  }

  .confirmationField input:hover,
  .confirmationField select:hover {
    border: 1px solid rgb(245, 217, 213);
    background-color: rgb(245, 225, 213);
    color: rgb(108, 57, 2);
  }

  .confirmationForm .buttons {
    width: calc(100% - 2rem);
  }

  .confirmationForm .buttons button {
    margin: 0.5rem 0rem;
  }

  .confirmationForm button:hover {
    filter: brightness(1.1);
  }
  /* used in toggling which view is displayed on mobile displays */
  .ItemSearch .searchContainer.Hidden {
    display: none;
  }

  .ItemSearch .confirmationContainer.Hidden {
    display: none;
  }
}
