.ItemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  width: calc(100%);
  box-sizing: border-box;
  font-size: 1.3rem;
  overflow-y: scroll;
}

.ItemInfo .leftSide {
  background-color: rgba(255, 255, 255, 0.816);
  padding: 0rem 1rem 1rem 1rem;
  /* padding-bottom: 1rem; */
  width: 50%;
  min-width: 308px;
  overflow-y: scroll;
}

.ItemInfo .fullNutrientsContainer {
  width: 50%;
}

.ItemInfo .infoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0rem;
}

.infoHeader > div,
h1 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: none;
}

.infoHeader span {
  color: rgb(253, 189, 78);
}

.ItemInfo img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 1rem;

  image-rendering: optimizeSpeed;
  /* background-color: rgb(186, 186, 186); */
  border: 1px solid lightgray;
}

.ItemInfo .confirmationField {
  padding: 0.35rem !important;
  background-color: rgba(238, 238, 238, 0.483);
  width: calc(100% - 0.8rem);
}

.ItemInfo .confirmationField label,
.ItemInfo .confirmationField select,
.ItemInfo .confirmationField input {
  font-size: 1rem;
}

.ItemInfo input,
.ItemInfo select,
.ItemInfo label {
  pointer-events: none;
  border: none !important;
  background-color: transparent !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid grey;
  color: grey;
  cursor: pointer;
  width: 45%;
}

.buttons #back:hover {
  /* background-color: rgba(255, 206, 90, 0.168); */
  border: 1px solid rgb(255, 178, 90);
  color: rgb(255, 178, 90);
}

.buttons #delete:hover {
  border: 1px solid rgb(255, 98, 90);
  color: rgb(255, 90, 90);
}

.fullNutrientsContainer {
  height: 100%;
  min-width: 200px;
  overflow-y: scroll;
}

.fullNutrients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 0.8rem;
  /* height: min-content; */
  /* padding: 2rem 0rem; */
  padding-bottom: 1.5rem;

  font-size: 0.8rem;
  line-height: 1.5;
  color: grey;
}

.nutrientName {
  padding: 0.25rem;
  padding-left: 0.5rem;
  background-color: rgb(253, 189, 78);

  /* border-radius: 1rem 0rem 0rem 1rem; */
}

.nutrientAmount {
  padding: 0.25rem;
  padding-right: 0.5rem;
  background-color: rgb(253, 189, 78);

  /* border-radius: 0rem 1rem 1rem 0rem; */
}

@media (max-width: 900px) {
  .ItemInfo {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    max-width: 100%;
    overflow-y: unset;
    height: auto;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .ItemInfo .leftSide {
    width: calc(100% - 0rem);
    min-width: none;
    min-width: 100%;
    height: 100%;
  }

  .ItemInfo .confirmationField {
    width: calc(100% - 2.7rem);
    min-width: unset;
    padding: 0rem;
  }

  .fullNutrientsContainer {
    height: 100%;
    min-width: unset;
    max-width: unset;
    width: calc(100% - 2rem) !important;
    overflow-y: unset;
    padding: 1rem;
    margin: 0;
  }

  .fullNutrients {
    padding-bottom: 0rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    gap: 1rem;
  }

  .buttons button {
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    width: 100%;
  }
}
