.ItemInfo {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  width: calc(100%);
  box-sizing: border-box;
  font-size: 1.3rem;
  /* padding: 2rem; */
  overflow-y: scroll;
}

.leftSide {
  background-color: rgba(255, 255, 255, 0.816);
  padding: 0rem 1rem 1rem 1rem;
  /* padding-bottom: 1rem; */
  min-width: 308px;
  overflow-y: scroll;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0rem;
}

.ItemInfo > div {
  width: 50%;
  /* border: 1px solid red; */
  /* height: 100%; */
}

.infoHeader > div,
h1 {
  /* text-transform: capitalize; */

  font-size: 1.7rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: none;
}

.infoHeader span {
  color: rgb(253, 189, 78);
}

.ItemInfo img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 1rem;

  image-rendering: optimizeSpeed;
  /* background-color: rgb(186, 186, 186); */
  border: 1px solid lightgray;
}

.ItemInfo .confirmationField {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background-color: rgba(238, 238, 238, 0.483);
}

.ItemInfo .confirmationField label,
.ItemInfo .confirmationField select,
.ItemInfo .confirmationField input {
  font-size: 1rem;
}

.ItemInfo input,
.ItemInfo select,
.ItemInfo label {
  font-size: 1.3rem;
  pointer-events: none;
  border: none !important;
  background-color: transparent !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  appearance: none;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid grey;
  color: grey;
  cursor: pointer;
  width: 45%;
}

.buttons #back:hover {
  /* background-color: rgba(255, 206, 90, 0.168); */
  border: 1px solid rgb(255, 178, 90);
  color: rgb(255, 178, 90);
}

.buttons #delete:hover {
  border: 1px solid rgb(255, 98, 90);
  color: rgb(255, 90, 90);
}

.fullNutrientsContainer {
  height: 100%;
  min-width: 200px;

  overflow-y: scroll;
}

.fullNutrients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 0.8rem;
  /* height: min-content; */
  /* padding: 2rem 0rem; */
  padding-bottom: 1.5rem;

  font-size: 0.8rem;
  line-height: 1.5;
  color: grey;
}

.nutrientName {
  padding: 0.25rem;
  padding-left: 0.5rem;
  background-color: rgb(253, 189, 78);

  /* border-radius: 1rem 0rem 0rem 1rem; */
}

.nutrientAmount {
  padding: 0.25rem;
  padding-right: 0.5rem;
  background-color: rgb(253, 189, 78);

  /* border-radius: 0rem 1rem 1rem 0rem; */
}
