.Items {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  gap: 0.5rem;
  overflow-x: hidden;
}

.Items .Page-Info {
  width: 100%;
  /* height: 100px; */
  /* margin: 0.5rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  background-color: white;
}

.Items .Page-Info .Title {
  /* margin: 1rem; */
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 1rem;
}

.Items .Page-Info .Description {
  font-size: 0.9rem;
  margin-left: 1rem;
}

@media (max-width: 900px) {
  .Items .Page-Info .Title {
    font-size: 1.2rem;
  }
}
