.PieGraph {
  height: 150px !important;
  width: 200px !important;
}

.c3-event-rect,
.guageContainer > svg {
  height: min-content;
}
.c3-chart-arc text {
  display: none;
}

/* .c3-legend-item-event {
  background-color: white;
} */

/* .c3-legend-item {
  display: none;
} */
