.SecondSection .TSGContainer .GraphControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: calc(20% - 0rem);
  background-color: rgba(255, 255, 255, 0.711);
}

.GraphControls .GraphControlsButton {
  padding: 1rem;
  width: 80%;
}

.TSGContainer {
  display: flex;
  flex-direction: row;

  background-color: rgba(255, 255, 255, 0.148);
  /* border: 1px solid white; */
  /* color: #ffae00; */

  width: 100%;
}

#TimeSeriesGraph {
  width: calc(80% - 0rem);
  height: 400px;
  /* background-color: #ffffff; */
  margin-right: 1rem;
  /* height: 100%; */
  /* mix-blend-mode: screen; */
}
