.SecondSection .TSGContainer .GraphControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 1rem; */
  align-items: center;
  height: 400px;
  width: calc(20% - 0rem);
  background-color: rgba(255, 255, 255, 0.411);
  gap: 1rem;
}

.GraphControls label {
  letter-spacing: 1px;
}

.GraphControls button {
  padding: 0.8rem;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.464);
  border: 1px solid white;
  /* border: none; */
  cursor: pointer;

  color: grey;
  letter-spacing: 1px;
}

.GraphControls button:hover {
  /* letter-spacing: 2px; */
  background-color: rgba(255, 255, 255, 0.69);
}

.GraphControls button.active {
  /* border: 1px solid grey; */
  background-color: white;
}

.TSGContainer {
  display: flex;
  flex-direction: row;

  background-color: rgba(255, 255, 255, 0.148);
  /* border: 1px solid white; */
  /* color: #ffae00; */

  width: 100%;
}

#TimeSeriesGraph {
  width: calc(80% - 0rem);
  height: 400px;
  /* background-color: #ffffff; */
  margin-right: 1rem;
  /* height: 100%; */
  /* mix-blend-mode: screen; */
}
