.Tracker {
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */

  overflow-y: scroll;
}

.FirstSection {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: rgb(255, 255, 255);
  width: calc(100% - 2rem);
  height: min-content;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Tracker .SectionHeader {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.Tracker .Big.SectionHeader {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/*************************************  TODAYS LOG  *********************************/
/*****************  (Smaller) Graphs  *******************/

.Tracker .FirstSection .Graphs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 0rem);
  height: 200px;
  /* background-color: red; */
  gap: 1rem;
  /* padding: 1rem; padding around graphs */
}

.Tracker .Graphs .SectionHeader {
  margin-top: 1rem;
}

.Tracker .FirstSection .Graphs > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #eeeeee;
  height: 100%;
}

/*****************  Set Goals  *******************/

.Tracker .SetGoals {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #efefef;
  padding: 1rem;
}

.Tracker .SetGoals .SetGoalsForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  /* background-color: turquoise; */
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 20%;
  flex-grow: 1;
  background-color: white;
  border: 1px solid grey;
  padding: 0.5rem;

  height: 100%;
}

.Tracker .SetGoalsFormInput input {
  border: none;
  background-color: #efefef;
  padding: 0.25rem;
  text-align: center;
  width: 50%;
}

/*****************  Add Meals  *******************/

.Tracker .TodaysMealsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #efefef;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.Tracker .TodaysMealsContainer .AddMealSection {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 1rem;
  width: calc(100% - 2rem);
  height: 82px;
  padding: 0rem 1rem;
  overflow-x: scroll;

  background-color: white;
}

.AddMealSection > button {
  height: 25px;
  aspect-ratio: 1;
}

.AddMealSection .Meal {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 201, 101);
  height: 50px;
  /* max-width: 50px; */
  padding: 0rem 25px;
  cursor: default;

  text-overflow: ellipsis;
  text-transform: capitalize;
  /* overflow: hidden; */
  white-space: nowrap;
}

.AddMealPopUp {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.73);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.AddMealPopUp .RecipeSelectablesContainer {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
}
.AddMealPopUp .ItemSelectablesContainer {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.ItemSelectable,
.RecipeSelectable {
  text-transform: capitalize;
  background-color: rgb(255, 201, 101);
  padding: 0.5rem;
  cursor: pointer;
}

.isSelected {
  filter: brightness(1.2);
}

.Meal > .removeMealButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.355);
  cursor: pointer;
  display: none;
}

.Meal:hover > .removeMealButton {
  display: block;
}

.isHidden {
  display: none;
}

/*********************************************  (Big) LineGraph  *******************************/

.Tracker .SecondSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 1rem;
}

/*********** For TimeSeriesGraph styles, go to TimeseriesGraph.css *********/

/*****************************  PreviousLogs  *****************************/

.Tracker .ThirdSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: white;
}

/* .PreviousLogs {
  width: 100% !important;
} */

.ThirdSection .PreviousLogsContainer .SectionHeader {
  font-size: 1.1rem;
  /* letter-spacing: normal; */
  text-align: center;
  width: calc(100% - 1rem);
  font-weight: 400;
  background-color: white;
  padding: 0.5rem;
}

.ThirdSection .PreviousLogsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 0rem);
}

.PreviousLogsContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: 200px;

  background-color: rgb(255, 196, 101);
}

.PreviousLogsContainer .PieChartContainer,
.PreviousLogsContainer .BarChartContainer {
  justify-content: flex-start;
}

.PreviousLogsContainer .LogList {
  /* display: flex; */

  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  /* background-color: red; */
}

#PreviousLogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#PreviousLogs .Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  /* width: 100%; */
}

#PreviousLogs button {
  border: 1px solid lightgrey;
  color: grey;
  background-color: transparent;
  cursor: pointer;
}

#PreviousLogs button:hover {
  background-color: rgb(255, 201, 101);
  border: 1px solid rgb(255, 201, 101);
  color: white;
}

.LogList .logEntry {
  background-color: rgba(255, 255, 255, 0.672);
  padding: 0.5rem;
  width: calc(100%);
  /* height: 80px !important; */
  text-align: left;
  cursor: pointer;
  color: rgb(56, 56, 56);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.LogList .logEntry:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 2px solid gold;
}

.LogList .logEntry.Active {
  color: black;
  background-color: white;
  border-left: 3px solid orange;
  /* box-sizing: border-box; */
  width: 100%;
}

.ItemsConsumedContainer {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}

.ItemsConsumedContainer .ItemEntry {
  background-color: rgba(255, 255, 255, 0.672);
  padding: 0.5rem;
  width: calc(100%);

  text-align: left;
  cursor: default;
  color: rgb(56, 56, 56);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;

  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
