.Tracker {
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */

  overflow-y: scroll;
}

.FirstSection {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: white;
  width: calc(100% - 2rem);
  height: min-content;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Tracker .SectionHeader {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.Tracker .Big.SectionHeader {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/*************************************  TODAYS LOG  *********************************/
/*****************  (Smaller) Graphs  *******************/

.Tracker .FirstSection .Graphs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 0rem);
  height: 200px;
  /* background-color: red; */
  gap: 1rem;
  /* padding: 1rem; padding around graphs */
}

.Tracker .FirstSection .Graphs > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #eeeeee;
  height: 100%;
}

/*****************  Set Goals  *******************/

.Tracker .SetGoals {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #efefef;
  padding: 1rem;
}

.Tracker .SetGoals .SetGoalsForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  /* background-color: turquoise; */
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 20%;
  flex-grow: 1;
  background-color: white;
  border: 1px solid grey;
  padding: 0.5rem;

  height: 100%;
}

.Tracker .SetGoalsFormInput input {
  border: none;
  background-color: #efefef;
  padding: 0.25rem;
  text-align: center;
  width: 50%;
}

/*****************  Add Meals  *******************/

.Tracker .TodaysMealsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #efefef;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.Tracker .TodaysMealsContainer .AddMealSection {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 1rem;
  width: calc(100% - 2rem);
  height: 82px;
  padding: 0rem 1rem;
  overflow-x: scroll;

  background-color: white;
}

.AddMealSection > button {
  height: 25px;
  aspect-ratio: 1;
}

.AddMealSection .Meal {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 201, 101);
  height: 50px;
  padding: 0rem 20px;
  cursor: default;
}

.AddMealPopUp {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.73);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.AddMealPopUp .RecipeSelectablesContainer {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
}
.AddMealPopUp .ItemSelectablesContainer {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.ItemSelectable,
.RecipeSelectable {
  background-color: rgb(255, 201, 101);
  padding: 0.5rem;
  cursor: pointer;
}

.isSelected {
  filter: brightness(1.2);
}

.Meal > .removeMealButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: red;
  cursor: pointer;
  display: none;
}

.Meal:hover > .removeMealButton {
  display: block;
}

.isHidden {
  display: none;
}

/******************************  (Big) LineGraph  *******************************/

.Tracker .SecondSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}

.SecondSection .BigLineGraphContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 0rem);
}

.SecondSection .BigLineGraphContainer .BigLineGraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: calc(80% - 0rem);
  background-color: aquamarine;
}

.SecondSection .BigLineGraphContainer .GraphControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: calc(20% - 0rem);
  background-color: lightblue;
}

.GraphControls .GraphControlsButton {
  padding: 1rem;
  width: 80%;
}

/*****************************  PreviousLogs  *****************************/

.Tracker .ThirdSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: white;
}

.ThirdSection .PreviousLogsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 0rem);
}

.PreviousLogsContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}

.PreviousLogsContainer .PieChartContainer,
.PreviousLogsContainer .BarChartContainer {
  justify-content: center;
}

.PreviousLogsContainer .PreviousLogs {
  gap: 0.5rem;
  overflow-y: scroll;
}

.PreviousLogs .logEntry {
  background-color: lavender;
  padding: 0.5rem;
  width: 100%;
}

.ItemsConsumedContainer {
  gap: 0.5rem;
  overflow-y: scroll;
}

.ItemsConsumedContainer .ItemEntry {
  background-color: lavender;
  padding: 0.5rem;
  width: 100%;
}

/* .PreviousLogsContainer .PreviousLogs { */
/* background-color: royalblue;
} */
