.Tracker {
  width: 100%;
  overflow-y: scroll;
}

.Tracker li {
  list-style: none;
}

.FirstSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: rgb(255, 255, 255);
  width: calc(100% - 2rem);
  height: min-content;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Tracker .SectionHeader {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.Tracker .Big.SectionHeader {
  font-size: 1.3rem;
  text-transform: uppercase;
}

/*************************************  TODAYS LOG  *********************************/
/*****************  (Smaller) Graphs  *******************/

.Tracker .FirstSection .Graphs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 0rem);
  height: 200px;
  gap: 1rem;
}

.Tracker .Graphs .SectionHeader {
  margin-top: 1rem;
}

.Tracker .FirstSection .Graphs .PieChart,
.Tracker .FirstSection .Graphs .BarChart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #eeeeee;
  height: 100%;
}

/*****************  Set Goals  *******************/

.Tracker .SetGoals {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #efefef;
  padding: 1rem;
}

.Tracker .SetGoals .SetGoalsForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  /* background-color: turquoise; */
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 20%;
  flex-grow: 1;
  background-color: white;
  border: 1px solid grey;
  padding: 0.5rem;

  height: 100%;
}

.Tracker .SetGoalsFormInput input {
  border: none;
  background-color: #efefef;
  padding: 0.25rem;
  text-align: center;
  width: 50%;
}

.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput {
  display: flex;
  flex-direction: column;
  padding: 0.15rem;
  margin: 0;
  gap: 0;
  border: none;
  border-radius: 0.25rem;
}

.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput.Calories {
  background-color: #ffc965;
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput.Protein {
  background-color: #ff6f65;
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput.Carbs {
  background-color: #65afff;
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput.Fat {
  background-color: #c765ff;
}

.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput label {
  width: 100%;
  text-align: center;
  color: white;
}
.Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput input {
  background-color: white;
  width: 80%;
  border-radius: 0.25rem;
}

/*****************  Add Meals  *******************/

.Tracker .TodaysMealsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #efefef;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.Tracker .TodaysMealsContainer .AddMealSection {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 1rem;
  width: calc(100% - 2rem);
  height: 82px;
  padding: 0rem 1rem;
  overflow-x: scroll;

  background-color: white;
}
.Tracker .TodaysMealsContainer .SectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.AddMealSection .Meal {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc965;
  height: 50px;
  /* max-width: 50px; */
  padding: 0rem 25px;
  cursor: default;

  text-overflow: ellipsis;
  text-transform: capitalize;
  /* overflow: hidden; */
  white-space: nowrap;
}

/* .AddMealSection > button {
  height: 25px;
} */

#AddMealButton {
  font-weight: 700;
  color: #bcbcbc;
  border: 2px solid #bcbcbc;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

#AddMealButton:hover {
  border: 2px solid #ffc965;
  background-color: #ffc965;
  color: white;
}

.AddMealPopUp {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.73);
  border-bottom: 2px solid #efefef;
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: 0.9rem;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.AddMealPopUp .Big.SectionHeader {
  margin: 2rem;
}

.AddMealPopUp .SectionHeader {
  width: 90%;
}

.AddMealPopUp .RecipeSelectablesContainer {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  gap: 0.5rem;
  margin: 1rem 0rem;

  background-color: #efefef;
  padding: 0.5rem;
}
.AddMealPopUp .ItemSelectablesContainer {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  gap: 0.5rem;
  margin: 1rem 0rem;
  background-color: #efefef;
  padding: 0.5rem;
}

.ItemSelectablesContainer .SectionHeader {
  width: 100%;
}

.AddMealPopUp button {
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1px solid grey;
  cursor: pointer;
}

.AddMealPopUp button:hover {
  background-color: #ffc965;
  border: 1px solid #ffc965;
  color: white;
}

.ItemSelectable,
.RecipeSelectable {
  text-transform: capitalize;
  background-color: #ffc965;
  padding: 0.5rem;
  cursor: pointer;
}

.isSelected {
  filter: brightness(1.2);
}

.Meal > .removeMealButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.355);
  cursor: pointer;
  display: none;
}

.Meal:hover > .removeMealButton {
  display: block;
}

.isHidden {
  display: none;
}

/************************ SECOND SECTION: Macro Trends (Big LineGraph)  *******************************/

/*********** For TimeSeriesGraph styles, go to TimeseriesGraph.css *********/

/*****************************  THIRD SECTION: PreviousLogs  *****************************/

.Tracker .ThirdSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: white;
}

.ThirdSection .PreviousLogsContainer .SectionHeader {
  font-size: 1.1rem;
  /* letter-spacing: normal; */
  text-align: center;
  width: calc(100% - 1rem);
  font-weight: 400;
  background-color: white;
  padding: 0.5rem;
}

.ThirdSection .PreviousLogsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 0rem);
}

.PreviousLogsContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: 200px;

  background-color: #efefef;
}

.PreviousLogsContainer .PieChartContainer,
.PreviousLogsContainer .BarChartContainer {
  justify-content: flex-start;
}

/*****************************  PreviousLogsContainer  *****************************/

.PreviousLogs .LogList {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

#PreviousLogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#PreviousLogs .Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  /* width: 100%; */
}

#PreviousLogs button {
  border: 1px solid lightgrey;
  color: grey;
  background-color: transparent;
  cursor: pointer;
}

#PreviousLogs button:hover {
  background-color: rgb(255, 201, 101);
  border: 1px solid rgb(255, 201, 101);
  color: white;
}

/*****************************  Goals Container  *****************************/

.PreviousLogsContainer .GoalsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.PreviousLogsContainer .GoalsContainer .Macro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 23%;
  overflow-x: hidden;
}

.PreviousLogsContainer .GoalsContainer .MacroLabel {
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  z-index: 2;
}

.GoalsContainer .Macro {
  background-color: lightgrey;
}

.GoalsContainer .Macro.Calories .MacroPercent {
  background-color: #ffc965;
}

.GoalsContainer .Macro.Protein .MacroPercent {
  background-color: #ff6f65;
}

.GoalsContainer .Macro.Carb .MacroPercent {
  background-color: #65afff;
}

.GoalsContainer .Macro.Fat .MacroPercent {
  background-color: #c765ff;
}

.PreviousLogsContainer .GoalsContainer .MacroPercent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: transparent;
  pointer-events: none;
  filter: brightness(1.1);

  /* mix-blend-mode: color-burn; */
  /* z-index: 0; */
}

/*****************************  LogList  *****************************/

.LogList .logEntry {
  background-color: rgba(255, 255, 255, 0.672);
  padding: 0.5rem;
  width: calc(100%);
  /* height: 80px !important; */
  text-align: left;
  cursor: pointer;
  color: rgb(56, 56, 56);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.LogList .logEntry:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 2px solid gold;
}

.LogList .logEntry.Active {
  color: black;
  background-color: white;
  border-left: 3px solid orange;
  /* box-sizing: border-box; */
  width: 100%;
}

/*****************************  Meals Consumed  *****************************/

.ItemsConsumedContainer {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}

.ItemsConsumedContainer .ItemEntry {
  background-color: rgba(255, 255, 255, 0.672);
  padding: 0.5rem;
  width: calc(100%);

  text-align: left;
  cursor: default;
  color: rgb(56, 56, 56);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;

  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* THIRD SECTION: PREVIOUS LOGS (NEW) */

.Tracker .ThirdSection {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 0;
  gap: 0;
}

.Tracker .ThirdSection .PreviousLogsContainer {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 0;
}

.Tracker .ThirdSection .PreviousLogsContainer .SectionHeader {
  font-size: 1rem;
  /* letter-spacing: normal; */
  text-align: left;
}

.Tracker .ThirdSection .PreviousLogsContainer {
  display: grid;
  gap: 1rem 2rem;
  width: calc(100% - 1rem);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "previousLogs consumed" "pieChart barChart";
}

.Tracker .PreviousLogsContainer .PreviousLogs {
  grid-area: previousLogs;
  min-width: unset;
  width: 100%;
  overflow-x: hidden;
  /* padding-left: 0; */
}

.Tracker .PreviousLogsContainer .PreviousLogs .LogList {
  width: calc(100% - 0rem);
}
.Tracker .PreviousLogsContainer .PreviousLogs .logEntry {
  width: calc(100% - 0.5rem);
  margin-left: 0;
  box-sizing: border-box;
}

.PreviousLogsContainer .PieChartContainer {
  grid-area: pieChart;
  min-width: unset;
  width: 100%;
  overflow-x: hidden;
}
.PreviousLogsContainer .BarChartContainer {
  grid-area: barChart;
  min-width: unset;
  width: 100%;
  overflow-x: hidden;
}
.PreviousLogsContainer .ItemsConsumedContainer {
  grid-area: consumed;
  min-width: unset;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .FirstSection {
    width: calc(100% - 1rem);
    height: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  /* FIRSTSECTION: GRAPHS */

  .Tracker .FirstSection .Graphs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* width: calc(100% - 0rem); */
    width: calc(100% - 0rem);
    height: 200px;
    gap: 0.5rem;
  }

  .Tracker .PieGraphPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .Tracker .Graphs .SectionHeader {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    width: 50%;
    text-align: center;
    justify-self: center;
  }

  .Tracker .FirstSection .Graphs .PieChart,
  .Tracker .FirstSection .Graphs .BarChart {
    width: calc(50% - 1rem);
    background-color: #eeeeee;
    height: 100%;
  }

  .Tracker .BarChart .GoalsGraph .MacroBar {
    width: calc(100% - 0rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.7rem;
    /* height: 100%; */
  }

  .Tracker .BarChart .GoalsGraph .MacroBar .MacroName {
    padding-left: 0.5rem;
    font-weight: 400;
  }
  .Tracker .BarChart .GoalsGraph .MacroBar .BarProgress {
    padding-right: 0.5rem;
  }

  .Tracker .BarChart .GoalsGraph .MacroBar .BarValue {
    display: none;
  }

  /* FIRSTSECTION: SET GOALS SECTIONS */

  .Tracker .SetGoals {
    padding: 0.5rem;
    gap: 0.25rem;
  }

  .Tracker .SetGoals .SetGoalsForm {
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput {
    min-width: 40%;
  }

  .Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput label {
    width: 100%;
    text-align: center;
    color: white;
  }
  .Tracker .SetGoals .SetGoalsForm .SetGoalsFormInput input {
    background-color: white;
    width: 80%;
    border-radius: 0.25rem;
  }

  /* ADD MEAL SECTION */

  .Tracker .TodaysMealsContainer .AddMealSection {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 1rem;
    width: calc(100% - 2rem);
    height: 82px;
    padding: 0rem 1rem;
    overflow-x: scroll;

    background-color: white;
  }

  .AddMealSection .Meal {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffc965;
    height: unset;
    /* max-width: 50px; */
    padding: 1rem;
    cursor: default;

    text-overflow: ellipsis;
    text-transform: capitalize;
    /* overflow: hidden; */
    white-space: nowrap;
  }

  .AddMealPopUp {
    padding-bottom: 3rem;
  }

  /* MACRO TRENDS (BIG GRAPH) SECTION */
  /* See TimeSeriesGraph.css */

  /* THIRD SECTION: PREVIOUS LOGS */

  .Tracker .ThirdSection {
    height: auto;
    width: calc(100% - 1rem);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    margin: 0;
    gap: 0;
  }

  .Tracker .ThirdSection .PreviousLogsContainer {
    height: auto;
    width: 100%;
    padding: 0rem;
    margin: 0;
    gap: 0;
  }

  .Tracker .ThirdSection .PreviousLogsContainer .SectionHeader {
    font-size: 1rem;
    text-align: left;
  }

  .Tracker .ThirdSection .PreviousLogsContainer {
    display: grid;
    gap: 0.5rem 1.5rem;
    padding: 0;
    width: calc(100vw - 2rem);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "previousLogs consumed" "pieChart barChart";
  }

  .Tracker .PreviousLogsContainer .PreviousLogs {
    grid-area: previousLogs;
    min-width: unset;
    width: 100%;
    overflow-x: hidden;
    /* padding-left: 0; */
  }

  .Tracker .PreviousLogsContainer .PreviousLogs .LogList {
    width: calc(100% - 0rem);
  }
  .Tracker .PreviousLogsContainer .PreviousLogs .logEntry {
    width: calc(100% - 0.5rem);
    margin-left: 0;
    box-sizing: border-box;
    font-size: 0.85rem !important;
  }

  .PreviousLogsContainer .PieChartContainer {
    grid-area: pieChart;
    min-width: unset;
    width: 100%;
    overflow-x: hidden;
  }
  .PreviousLogsContainer .BarChartContainer {
    grid-area: barChart;
    min-width: unset;
    width: 100%;
    overflow-x: hidden;
  }
  .PreviousLogsContainer .ItemsConsumedContainer {
    grid-area: consumed;
    min-width: unset;
    width: 100%;
    overflow-x: hidden;
  }

  .Tracker .ThirdSection .placeholder {
    padding: 0;
    margin: 0;
  }
}
