.Header {
  position: absolute;
  top: 0;
  width: calc(100vw - 6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  padding: 0rem 2rem;
  /* border-bottom: 1px solid grey; */
}

.Header-Links a {
  margin: 0rem 1rem;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
}

.Header h1 {
  color: white;
}
